[submodule "cpy3"]
	path = cpy3
	url = git@github.com:jackokring/cpy3.git
[submodule "htmx"]
	path = htmx
	url = git@github.com:bigskysoftware/htmx.git
[submodule "less.js"]
	path = less.js
	url = git@github.com:less/less.js.git
[submodule "showdown"]
	path = showdown
	url = git@github.com:showdownjs/showdown.git
[submodule "bootstrap"]
	path = bootstrap
	url = git@github.com:twbs/bootstrap.git
[submodule "tmux-continuum"]
	path = extras-backup/.tmux/plugins/tmux-continuum
	url = git@github.com:tmux-plugins/tmux-continuum.git
[submodule "tmux-resurrect"]
	path = extras-backup/.tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule "tmux-sensible"]
	path = extras-backup/.tmux/plugins/tmux-sensible
	url = git@github.com:tmux-plugins/tmux-sensible.git
[submodule "tmux-yank"]
	path = extras-backup/.tmux/plugins/tmux-yank
	url = git@github.com:tmux-plugins/tmux-yank.git
[submodule "tpm"]
	path = extras-backup/.tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "extras-backup/dwm"]
	path = extras-backup/dwm
	url = git@github.com:jackokring/dwm.git
[submodule "extras-backup/dmenu"]
	path = extras-backup/dmenu
	url = git@github.com:jackokring/dmenu.git
